:root {
   --vermelho: #e50914;
   --preta: #141414;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Netflix Sans', sans-serif;
}
/*base*/

body {
   background: var(--preta);
   color: white;
}

header .container {
   margin-left: 5px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}

header .logo {
   color: var(--vermelho);
   font-size: 50px;
   font-family: 'Bebas Neue', cursive;
}

header nav a {
   text-decoration: none;
   color: #aaa;
   margin-right: 5px;
   font-family: 'Bebas Neue', cursive;
}

header nav a:hover {
   color: #fff;
}

/*filme principal*/

.filme-principal {
   font-size: 14px;
   background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%),
      url('img/planeta dos macacos.jpg');
   height: 500px;
   background-size: cover;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
}

.filme-principal .descricao {
   margin-bottom: 30px;
   margin-top: 10px;
}

.titulo {
   font-size: 40px;
   margin-top: 10%;
}

.botao {
   background-color: rgba(0, 0, 0, 0.5);
   border: none;
   color: white;

   padding: 15px 30px;
   margin-right: 15px;
   font-size: 12px;

   cursor: pointer;
   transition: 0.5s ease all;
}

.botao:hover {
   background-color: white;
   color: black;
}

.botao i {
   margin-right: 8px;
}

.container {
   margin-left: 20px;
}

.filme-principal .container {
   width: 70%;
}

.box-filme {
   height: 80%;
   width: 100%;
   display: block;
}

.carrosel {
   margin-top: 5px;
}

.estilos {
   color: #fff;
   margin: 0px 15px 10px 15px;
   font-size: 15px;
}
